*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/
body{
    background-color: #444444;
    overflow: 
}
.container{
    margin: 0 auto;
    
}
.header{
    background-color: rgba(39,105,107) ;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    box-shadow: 0px 4px 5px rgba(0,0,0,0.7);
}
.header__flexButtons{
    display: flex;
    justify-content: space-between;
    margin: 0 20px;

    font-size: 40px;
}
.headerButton{
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: bold;
     color: whitesmoke;
    flex-grow: 1;
    text-align: center;
    padding: 30px 0;
}
.headerButton:hover{
    background-color: rgb(31,84,85);
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.isnow{
    background-color: rgb(31,84,85);
    border-left: none;
    border-right: none;
}
.line{
    height: 1px;
    background-color: aliceblue
}
.content{
    margin-top: 20px;
    color: #A8B1B2;

}
.new{
    margin-top: 20px;
    padding: 20px 40px;
    background-color: #383838;
    border-radius: 35px;
    
    box-shadow: 10px 8px 5px rgba(0,0,0,0.7);
}

.content__title{
    font-size: 55px;
    font-weight: bold;

    margin-top: 20px;
}
.content__photo{
    width: 100%;
}
.ctxt__title{
    font-weight: bold;
    font-size: 50px;
    margin-top: 20px;
}
.ctxt{
    font-size: 30px;
    font-weight: bold;
    margin: 20px 10px;
}
.buttonUp{
    margin-left: 85vw;
    margin-top: 80vh;
    height: 100px;
    width: 100px;
    position: fixed;
    border-radius: 60px;
    z-index: 1;
}
.UpImage{
    height: 100%;
    width: 100%;
}
.sqr{
    background-color: black;
    width: 25px;
    height: 55px;
    position: absolute;
    margin-left: 27px;
    margin-top: 25px;
}
.pr__title{
    
}
.trng {
  width: 100px;
    height: 50px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid red;
   }
.products1{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    flex-wrap: wrap;
}
.pr__photo{
    max-width: 200px;
    margin: 20px;
    margin-bottom: 10px;;
    border: 5px solid black;
}
.pr{
    background-color: #383838;
    border: 3px solid black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 10px 8px 5px rgba(0,0,0,0.7);
}
.pr__txt{
    font-weight: bold;
    font-size: 12px;
}
.pr__price{
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.pr__buy{
    margin-top: 15px;
    padding: 15px;
    background-color: green;
    color: aliceblue;
    font-size: 30px;
    border-top: 3px solid black;
    font-weight: bold;
    text-transform: uppercase;
}
.pr__title{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    flex-grow: 1;
}
.FAQ {
    font-size: 20px;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;

}
.OTV {
    margin-left: 15px;
    color: #A8B1B2;
    margin-top: 10px;
    margin-bottom: 10px;
}
.pach{
    width: 20px;
    height: 20px;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    
}

.beforefooter{
    flex-grow: 1;
    margin-bottom: 40px;
}
.footer{
    margin-top: 20px;
    background-color: #252525;
    color: aliceblue;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    box-shadow: 0px -6px 5px rgba(0,0,0,0.7);
    min-height: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.footer__row{
    display: flex;
    justify-content: space-between;
}
.footer__aboutus{
    width: 50%;
}
.aboutus__title{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.aboutus__info{
    margin-top: 10px;
    font-size: 20px;
}
.footer__links{
    width: 50%;
}
.links__title{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.links__QR{
    margin-top: 20px;
    text-align: right;
}
.QR{
    width: 100px;
    cursor: none;
    box-shadow: 10px 8px 5px rgba(0,0,0,0.7);
}

.neticon{
    width: 40px;
    
    background-color: #191919;
    padding: 3px;
    border-radius: 6px;
    margin: 0 5px;
}
.links__socialnets{
    margin-top: 15px;
    display: flex;
    justify-content:flex-end;
}
.links__row{
    display: flex;
    justify-content: space-between
}
.lcontacts{
    margin-top: 10px;
    font-size: 27px;
}
.vipproducts{
    background-color: #242729;
    padding-top: 10px;
    border-radius: 40px;
}
.simpleproducts{
    padding-top: 10px;
}
.products__popup{
    position: fixed;
    overflow: hidden;
    
    width: 100%;
    z-index: 2;
    height: 100%;
    background-color: rgba(255,255,255,0.1);
    display: none;
}
.pr__popup__row{
    background-color: #242729;
    height: 100%;
    color:aliceblue;
    border-radius: 60px;
    padding-top: 30px;
    padding-left: 40px;
    display: flex;
    justify-content: space-between;
}
.products__popup .container{
    margin-top: 50px;
    height: 460px;
    
}
.crossline{
    width: 30px;
    height: 2px;
    background-color: white;
}

.cross{
    position: absolute;
    margin-left: 80%;
    
}
.product__photos{
    height: 400px;
    width: 300px;
    border: 2px solid black;
}
.product__info{
    margin-right: 20px;
    width: 600px;
}
.header{
    border-bottom: 1px solid white;
}
.vipproducts{
    
    box-shadow: 10px 8px 5px rgba(0,0,0,0.7);
}
@media (min-width: 769px){
    .container{
    max-width: 765px;
    }
    .videonew1{
    margin-top: 40px;
    width: 690px;
    height: 388px;
    margin: 40px auto;
}
    .ctxt__photo{
       margin-top: 40px;
    width: 690px;
    height: 388px;
    
}
    .pr__photo{
        max-width: 300px;
    }
    .pr{
        max-width: 330px;
    margin: 12px auto;
    }
    .pr__txt{
        font-size: 26px;
    }
    .headerButton{
        font-size: 23px;
    }
}
@media (min-width: 1025px){
    .container{
        max-width: 1020px;
        
    }
    .videonew1{
        width: 940px;
        height: 528.75px;
    }
    .ctxt__photo{
        width: 940px;
        height: 528.75px;
        margin-top: 40px;
    }
    .pr__photo{
        max-width: 400px;
    }
    .pr__title{
        font-size: 70px;
        margin-bottom: 20px;
    }
    .pr__txt{
        font-size: 40px;
        
    }
    .pr{
        max-width: 305px;
        margin: 20px auto;
    }
    .pr__price{
    font-size: 30px;
}
    .headerButton{
        font-size: 20px;
    }
}
